<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="">
    <meta name="author" content="">

    @Styles.Render("~/Content/css")

    <!-- Custom styles for this template -->
    <link href="~/Content/dashboard.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div id="navbar">
                <ul class="nav navbar-nav navbar-right" style="margin-right:100px;">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Help</a></li>
                    @*<li id="registerButton">
                            <a data-container="body" data-toggle="popover" onclick="logout()" data-placement="bottom"
                               data-content='<form><input id="login" type="text" style="margin:5px;display:block;"/><input id="password" type="text" style="margin:5px;display:block;"/><a class="btn btn-sm btn-success" onclick="login()" role="button" style="float:right;margin:5px">login</a></form>'>
                            </a>
                        </li>*@
                    <li>
                        <a id="lbtn" data-container="body" data-toggle="popover" onclick="logout()" data-placement="bottom">
                        </a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" action="@Url.Action("Search")">
                    <input name="q" type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>

    <div style="margin:10px;">
        @RenderBody()
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>*@
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    @Scripts.Render("/Scripts/bootstrap.js")
    <script src="~/scripts/AjaxLogin.js"></script>
    <script>
        $('document').ready($(function () {
            $('#lbtn').attr('data-content',
                            '<form>' +
                            '<input id="email" name="email" class="form-control" placeholder="Email" type="text" style="margin:5px;display:block;"/>' +
                            '<input disabled id="password" name="password" class="form-control" placeholder="Password" type="text" style="margin:5px;display:block;"/>' +
                            '<a id="dologin" class="btn btn-sm btn-success" onclick="login()" role="button" style="float:right;margin:5px">Send password</a>' +
                        '</form>');
            init('@((Session["User"] as FindInCn.Shared.Models.DB.User)?.Name)');
        }));
    </script>

</body>
</html>